* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #52002C;
    padding: 10px;
}

.headshot {
    display: flex;
    align-items: center;
    margin: auto 25px;
    font-weight: bold;
}

.leephoto {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    padding: 10px;
}

.nav-list li {
    padding: 10px;
}

.caption {
    text-align: center;
    margin: auto 15px;
    color: #D8B964;
}

.nav-link {
    background-color: #D8B964;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: #52002C;
    text-decoration: none;
}

.nav-link:hover{
    background-color: #333333;
    color: #ffffff;
}

.footer {
    background-color: #52002C;
    color: #D8B964;
}

.rocks {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    text-align: center;
	height: auto;
    width: 100%;
    margin-bottom: 25px 0;
	background-color: #E6E3D3;
}

.highlights {
    margin: 25px 0px;
    list-style: none;
}

.about {
    height: auto;
    width: 100%;
    margin-bottom: 25px 0;
    background-color: #F7F7F7;
}

.about h2 {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.about p {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

.aboutarticles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100%;
}

.aboutarticles h3{
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0;
}

.aboutarticles li{
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
}

article {
	padding: 10px;
	margin: 10px;
	border-style: solid;
    border-radius: 10px;
	color: #1D4154;
}

article ul {
	list-style-type: none;
}

.worked {
	padding: 10px 0;
}

.worked p {
	text-align: left;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
	padding: 6px 0;
}

.projects {
    height: auto;
    width: 100%;
    margin-bottom: 25px 0;
	background-color: #E6E3D3;
}

.projects h2 {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: darkgreen;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.projects p {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: darkgreen;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

.currentprojects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.firstone {
	flex: 0 0 200px;
}

.next {
	flex: 0 0 200px;
}

.challenge img {
	width: 300px;
    height: 200px;
    object-fit: contain;
	display: block;
  margin-left: auto;
  margin-right: auto;
  }

.challenge figcaption {
	color:darkgreen;
    font-family: 'Lucida Console', 'Arial', 'Ebrima';
	text-align: center;
	margin: 0 10px;
}

.currentprojects h3{
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: darkgreen;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0;
}

.contact {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: auto;
    width: 100%;
}

.contact h2 {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.contact p {
	text-align: center;
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #1D4154;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 20px;
}

.contactinfo h3, address{
	font-family: 'Arial', 'Ebrima', 'Lucida Console';
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	padding: 6px 0;
}

.contact-item {
    background-color: #2a607c;
}

.email:link {
    text-decoration: none;
    color: #ffffff;
  }
  
.email:visited {
    text-decoration: none;
    color: #ffffff;
  }